name: azure-terraform-IaC-web
on: 
 workflow_dispatch: 
permissions:
  id-token: write
  contents: read
run-name: self-hosted
jobs:
  checkout:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: e50d63fe-9564-4b3e-a1ab-818ae7b6600f
          tenant-id: b2726345-22d4-4635-bf9b-fbe39a0215f0
          subscription-id: eac9ee72-3e50-4c23-b8c3-081a1f02b52a
  superLinter:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Super-linter
        uses: super-linter/super-linter@v8.5.0
 
  terraform-init-fmt-validate-plan:
    runs-on: self-hosted
    steps:
    - name: Terraform fmt
      id: fmt
      run: terraform fmt -check
      working-directory: enviroments/dev
      continue-on-error: true
      
    - name: Terraform Init
      id: init
      run: terraform init -input=false
      working-directory: enviroments/dev
      
    - name: Terraform Validate
      id: validate
      run: terraform validate -no-color
      working-directory: enviroments/dev
      
    - name: Terraform Plan
      id: plan
      run: terraform plan -no-color -input=false
      working-directory: enviroments/dev
     
  
